body {
    background-color: #eee;
}
#books{
    width:600px;
}
.bookContainer {
    outline: 1px solid #aaa;
    width: 550px;
    height: auto;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.bookContainer img {
    float: left;
    margin: 10px;
}

.bookContainer ul {
    list-style-type: none;
    margin-bottom: 0;
}

.bookContainer button {
    margin: 10px;
    float: right;
}
#addBook{
    margin:5px;
    border: 1px solid #333;

}
#addBook label {
    width: 100px;
    text-align: right;
}

#addBook label, #addBook input {
    display: block;
    margin-bottom: 10px;
    float: left;
}

#addBook label[for="title"], #addBook label[for="releaseDate"] {
    clear: both;
}

#addBook button {
    margin: 5px;
    clear: both;
}

#addBook div {
    width: 750px;
}

#addBook div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}

nav ul {
    list-style: none;
    padding: 10px ;
    margin: 0;
}

nav li {
    display: inline;
    border-bottom: solid 5px #ffaa55;

    margin: 0 5px 0 0;
    padding: 5px;
}


nav li a {
    padding: 0 10px;
}