<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Backbone.js Muppets</title>
    <link rel="stylesheet" href="css/screen.css">
</head>
<body>

<div id="muppets"></div>

    <script type="text/template" id="muppet-item-tmpl">
        <li>
            <p><a href="/muppets/<%= id %>"><%= name %></a> // Job: <i><%= occupation %></i></p>
        </li>
    </script>

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/underscore.min.js"></script>
    <script src="js/lib/backbone.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>