<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Backbone.js Bookstore</title>
    <link rel="stylesheet" href="css/screen.css">
</head>
<body>
    <nav>
        <ul id="tab-container">
            <li class="tab-item">Tab 1 <a href="#">X</a></li>
            <li class="tab-item">Tab 2 <a href="#">X</a></li>
        </ul>
    </nav>
    <div id="books">
        <form id="addBook" action="#">
            <div>
                <label for="title">Title: </label><input id="title" type="text" />
                <label for="author">Author: </label><input id="author" type="text" />
                <button id="add">Add</button>
            </div>
        </form>
    </div>
    <script id="bookTemplate" type="text/template">
        <ul>
            <li><%= title %> by <%= author %> <button class="delete">Delete</button></li>
        </ul>
    </script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/underscore.min.js"></script>
    <script src="js/lib/backbone.min.js"></script>
    <script src="js/models/book.js"></script>
    <script src="js/collections/library.js"></script>
    <script src="js/views/book.js"></script>
    <script src="js/views/library.js"></script>
    <script src="js/app.js"></script>


</body>
</html>